In [19]:
import pandas as pd

In [44]:
multi_file_dfs = {
   "mf_5M_10000B_no_comp": pd.read_csv("multi_file_save_summary_5.0keys_10000B_comp-no_csum-yes.csv"),
    "mf_50M_50B_comp": pd.read_csv("multi_file_save_summary_50.0keys_50B_comp-yes_csum-yes.csv"),
    "mf_50M_100B_no_comp": pd.read_csv("multi_file_save_summary_50.0keys_100B_comp-no_csum-yes.csv"),
}

single_file_dfs = {
    "sf_5M_10000B_no_comp": pd.read_csv("one_file_save_summary_5.0keys_10000B_comp-no_csum-yes.csv"),
    "sf_50M_50B_comp": pd.read_csv("one_file_save_summary_50.0keys_50B_comp-yes_csum-yes.csv"),
    "sf_50M_100B_no_comp": pd.read_csv("one_file_save_summary_50.0keys_100B_comp-no_csum-yes.csv"),
}

In [37]:
multi_file_dfs["mf_5M_10000B_no_comp"]

,keys,value_size,num_threads,rdbcompression,rdbchecksum,valkey_data_throughput_mb_s,actual_throughput_mb_s,rdb_file_size_bytes,status,port,save_duration_seconds,cpu_utilization_percent,cpu_total_time_seconds,io_read_bytes,io_write_bytes,memory_rss_bytes,context_switches_voluntary,context_switches_involuntary
0,5000000,10000,1,no,yes,310.708660,0.0,0,ok,7000,160.922454,99.917691,160.79,0,50100006912,51910819840,233,2133
1,5000000,10000,2,no,yes,401.785456,0.0,0,ok,7000,124.444524,76.724951,95.48,0,50100006912,51910881280,80561,649
2,5000000,10000,4,no,yes,401.524526,0.0,0,ok,7000,124.525395,78.249100,97.44,0,50100015104,51910975488,34975,149
3,5000000,10000,6,no,yes,400.539845,0.0,0,ok,7000,124.831526,80.043883,99.92,0,50100015104,51910615040,22434,113
4,5000000,10000,8,no,yes,401.285616,0.0,0,ok,7000,124.599532,82.688914,103.03,0,50100023296,51910131712,17192,100
5,5000000,10000,10,no,yes,401.083446,0.0,0,ok,7000,124.662338,88.743723,110.63,0,50100019200,51910328320,13186,91

In [46]:
50100019200/124.662338 * 10**-6

401.8857660121856

In [47]:
single_file_dfs["sf_5M_10000B_no_comp"]

,keys,value_size,num_threads,rdbcompression,rdbchecksum,valkey_data_throughput_mb_s,actual_throughput_mb_s,rdb_file_size_bytes,status,port,save_duration_seconds,cpu_utilization_percent,cpu_total_time_seconds,io_read_bytes,io_write_bytes,memory_rss_bytes,context_switches_voluntary,context_switches_involuntary
0,5000000,10000,1,no,yes,305.252701,305.863207,50100000111,ok,7000,163.798715,99.939734,163.70,0,50100006912,51911884800,146,2090
1,5000000,10000,2,no,yes,400.661798,401.463122,50100000111,ok,7000,124.793530,79.811830,99.60,0,50100006912,51911913472,88316,549
2,5000000,10000,4,no,yes,401.699986,402.503387,50100000111,ok,7000,124.471003,82.155681,102.26,0,50100006912,51910848512,43829,312
3,5000000,10000,6,no,yes,401.678702,402.482060,50100000111,ok,7000,124.477598,84.649770,105.37,0,50100006912,51911102464,25241,198
4,5000000,10000,8,no,yes,400.651032,401.452335,50100000111,ok,7000,124.796883,86.845118,108.38,0,50100006912,51910696960,19205,204
5,5000000,10000,10,no,yes,401.494545,402.297535,50100000111,ok,7000,124.534693,84.498542,105.23,0,50100006912,51910098944,15064,158

In [48]:
multi_file_dfs["mf_50M_50B_comp"]

,keys,value_size,num_threads,rdbcompression,rdbchecksum,valkey_data_throughput_mb_s,actual_throughput_mb_s,rdb_file_size_bytes,status,port,save_duration_seconds,cpu_utilization_percent,cpu_total_time_seconds,io_read_bytes,io_write_bytes,memory_rss_bytes,context_switches_voluntary,context_switches_involuntary
0,50000000,50,1,yes,yes,44.020616,0.0,0,ok,7000,56.791573,99.926798,56.75,0,3450007552,5516570624,52,781
1,50000000,50,2,yes,yes,97.298050,0.0,0,ok,7000,25.694246,199.811275,51.34,0,3450003456,5516259328,35,101
2,50000000,50,4,yes,yes,131.111438,0.0,0,ok,7000,19.067749,398.945885,76.07,0,3450011648,5526306816,70,196
3,50000000,50,6,yes,yes,139.574506,0.0,0,ok,7000,17.911580,598.551314,107.21,0,3450011648,5523349504,51,123
4,50000000,50,8,yes,yes,133.205506,0.0,0,ok,7000,18.767993,796.409079,149.47,0,3450015744,5523152896,184,59
5,50000000,50,10,yes,yes,133.483952,0.0,0,ok,7000,18.728843,995.683495,186.48,0,3450023936,5528981504,177,48

In [49]:
3450023936/18.728843 * 10**-6

184.2091332603941

In [50]:
single_file_dfs["sf_50M_50B_comp"]

,keys,value_size,num_threads,rdbcompression,rdbchecksum,valkey_data_throughput_mb_s,actual_throughput_mb_s,rdb_file_size_bytes,status,port,save_duration_seconds,cpu_utilization_percent,cpu_total_time_seconds,io_read_bytes,io_write_bytes,memory_rss_bytes,context_switches_voluntary,context_switches_involuntary
0,50000000,50,1,yes,yes,44.354850,0.0,0,ok,7000,56.363622,99.904864,56.31,0,3450007552,5517062144,59,704
1,50000000,50,2,yes,yes,89.286685,0.0,0,ok,7000,27.999696,198.109296,55.47,0,3450003456,5517918208,211,274
2,50000000,50,4,yes,yes,127.364955,0.0,0,ok,7000,19.628633,395.187983,77.57,0,3450007552,5526851584,100,302
3,50000000,50,6,yes,yes,138.304325,0.0,0,ok,7000,18.076080,591.499939,106.92,0,3450003456,5524226048,168,291
4,50000000,50,8,yes,yes,136.518524,0.0,0,ok,7000,18.312533,790.223827,144.71,0,3450007552,5526097920,137,208
5,50000000,50,10,yes,yes,134.216999,0.0,0,ok,7000,18.626553,990.038271,184.41,0,3450003456,5527191552,98,152

In [51]:
3450003456/18.626553 * 10**-6

185.2196407998839

In [52]:
multi_file_dfs["mf_50M_100B_no_comp"]

,keys,value_size,num_threads,rdbcompression,rdbchecksum,valkey_data_throughput_mb_s,actual_throughput_mb_s,rdb_file_size_bytes,status,port,save_duration_seconds,cpu_utilization_percent,cpu_total_time_seconds,io_read_bytes,io_write_bytes,memory_rss_bytes,context_switches_voluntary,context_switches_involuntary
0,50000000,100,1,no,yes,91.724898,0.0,0,ok,7000,54.510827,99.906759,54.46,0,6000005120,8333041664,55,788
1,50000000,100,2,no,yes,267.003502,0.0,0,ok,7000,18.726346,199.772020,37.41,0,6000005120,8333127680,49,170
2,50000000,100,4,no,yes,332.695390,0.0,0,ok,7000,15.028763,293.969646,44.18,0,6000013312,8333279232,2458,97
3,50000000,100,6,no,yes,332.849656,0.0,0,ok,7000,15.021797,294.771656,44.28,0,6000009216,8333504512,1939,67
4,50000000,100,8,no,yes,333.709829,0.0,0,ok,7000,14.983077,294.932747,44.19,0,6000017408,8333025280,1218,44
5,50000000,100,10,no,yes,334.175368,0.0,0,ok,7000,14.962204,293.071798,43.85,0,6000025600,8333361152,1056,32

In [53]:
6000025600/14.962204 * 10**-6

401.0121503489727

In [54]:
single_file_dfs["sf_50M_100B_no_comp"]

,keys,value_size,num_threads,rdbcompression,rdbchecksum,valkey_data_throughput_mb_s,actual_throughput_mb_s,rdb_file_size_bytes,status,port,save_duration_seconds,cpu_utilization_percent,cpu_total_time_seconds,io_read_bytes,io_write_bytes,memory_rss_bytes,context_switches_voluntary,context_switches_involuntary
0,50000000,100,1,no,yes,92.930574,0.0,0,ok,7000,53.803606,99.788850,53.69,135168,6000005120,8334807040,73,779
1,50000000,100,2,no,yes,284.358156,0.0,0,ok,7000,17.583459,197.344560,34.70,61440,6000001024,8335011840,185,147
2,50000000,100,4,no,yes,335.227796,0.0,0,ok,7000,14.915231,277.769751,41.43,4096,6000001024,8335245312,4705,518
3,50000000,100,6,no,yes,328.135366,0.0,0,ok,7000,15.237614,275.043064,41.91,4096,6000005120,8334880768,2927,388
4,50000000,100,8,no,yes,335.287252,0.0,0,ok,7000,14.912586,282.110694,42.07,0,6000001024,8335151104,2153,229
5,50000000,100,10,no,yes,334.938453,0.0,0,ok,7000,14.928116,284.161784,42.42,0,6000001024,8335413248,1773,224

In [55]:
6000001024/14.928116 * 10**-6

401.92620582530304